/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Variables */
:root {
  /* --main-text-color : #fff; */
  /* --main-bg-color : #fff; */
  /* --main-font-size : 16px; */
  /* --main-font-weight : 400; */
  /* --main-line-height : 1.5; */
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Bold.woff2') format('woff2'),
    url('../fonts/FuturaPT-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Bold.woff2') format('woff2'),
    url('../fonts/FuturaPT-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Light.woff2') format('woff2'),
    url('../fonts/FuturaPT-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
    url('../fonts/FuturaPT-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
    url('../fonts/FuturaPT-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT Book';
  src: url('../fonts/FuturaPT-Book.woff2') format('woff2'),
    url('../fonts/FuturaPT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT Book';
  src: url('../fonts/FuturaPT-Book.woff2') format('woff2'),
    url('../fonts/FuturaPT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Light.woff2') format('woff2'),
    url('../fonts/FuturaPT-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


/* General */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  height: 100%;
}

img {
  display: block;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Futura PT";
  background-image: url(../images/bg.png);
  background-repeat: repeat;
  background-color: #f9f9f9;

  /* font-family: "Roboto", "Arial", sans-serif; */
  /* font-size: 16px; */
  /* font-weight: 400; */
  /* line-height: var(--main-line-height); */
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Container */
.container {
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* Sticky-Footer */
.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.site-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__address {
  margin-right: 120px;
  margin-left: 200px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;

}

.header-top__address::before {
  content: "";
  background-image: url(../images/house.svg);
  background-size: cover;
  position: absolute;
  width: 14px;
  height: 13px;
  margin-left: -22px;
  top: 2px;
}

.header-top__href:hover {
  color: #FFBD54;
}

.header-top__href:active {
  color: #333333;
  opacity: 0.6;
}

.header-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding-left: 0;
  margin-left: -170px;
}

.header-top__list::before {
  content: "";
  background-image: url(../images/phone.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 13px;
  height: 13px;
  margin-right: 9px;
}

.header-top__menu {
  margin-right: 22px;
  position: relative;
}

.header-top__menu:nth-child(2)::before {
  position: absolute;
  content: "";
  background-image: url(../images/span.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 4px;
  height: 4px;
  top: 8px;
  right: -12px;
}

.header-top__menu:nth-child(2)::after {
  position: absolute;
  content: "";
  background-image: url(../images/span.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 4px;
  height: 4px;
  top: 8px;
  left: -12px;
}

.header-top__href {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;

}

.header-top__time {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}


.header-top__time:nth-child(1)::before {
  content: "";
  background-image: url(../images/time.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 14px;
  height: 14px;
  margin-left: -22px;
  top: 2px;

}

.header-top__time:nth-child(2) {
  margin-left: 22px;

}

/* site bottom start */

.site-bottom {
  background-color: #fff;
  position: relative;
  padding: 20px 0;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* position: relative; */
}

.site-bottom__img {
  position: absolute;
  top: -20px;
}

.site-bottom__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-bottom__list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 700px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.site-bottom__img:hover {
  opacity: 0.8;
}

.site-bottom__img:active {
  opacity: 0.6;
}

.site-bottom__href:hover {
  color: #333333;
  border-bottom: 2px solid #ece909;
}

.site-bottom__href:active {
  color: #333333;
  opacity: 0.6;
  border-bottom: 2px solid #ece909;
}


.site-bottom__list::before {
  content: "";
  background-image: url(../images/fish.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 14px;
  height: 14px;
  margin-left: -30px;
  top: 4px;
  position: absolute;
}

.site-bottom__menu {
  margin-right: 45px;
}

.site-bottom__menu:nth-child(6) {
  margin-right: 0;
}

.site-bottom__btn {
  position: relative;
}

.site-bottom__index::before {
  content: "";
  background-image: url(../images/panja.svg);
  background-size: cover;
  width: 23px;
  height: 20px;
  position: absolute;
  left: -25px;
}

#hero {
  background-image: url("../images/zabotim.png"), url("../images/to\'tiqush.png");
  background-repeat: no-repeat;
  background-size: 830px 800px, 350px 430px;
  padding: 153px 0px 311px 465px;
  background-position: calc(50% + -470px) calc(50% - 70px), calc(50% + 615px) calc(50% + 200px);
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section__card {
  /* margin-top: 160px; */
  width: 620px;
  margin-right: 60px;
  /* position: absolute; */
}

.hero-section__title {
  margin: 0;
  font-weight: 700;
  font-size: 70px;
  line-height: 64px;
  color: #333333;
}

.hero-section__span {
  color: #78C0DE;
}

.hero-section__text {
  width: 495px;
  margin-bottom: 38px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}

.hero-section__href {
  padding: 15px 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  background-color: #333333;
  border-radius: 3px;
  color: #fff;
}

.hero-section__href:hover {
  background: #FFBD54;
  border-radius: 3px;
}

.hero-section__href:active {
  opacity: 0.6;
}

.quotes {
  padding: 0 0 95px 0;
}

.quotes__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 120px 0 35px 0;
  position: relative;
}

.quotes__wrapper::before {
  content: "";
  width: 140px;
  height: 2px;
  position: absolute;
  top: -43px;
  left: 550px;
  background-color: #dbdbdb;
}


.quotes__wrapper::after {
  content: "";
  width: 140px;
  height: 2px;
  position: absolute;
  /* top: -43px; */
  bottom: -35px;
  left: 550px;
  background-color: #dbdbdb;
}


.quotes__block {
  margin: 0 auto;
  width: 753px;
  text-align: center;
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #949494;
}

.quotes__block::before {
  content: "";
  background-image: url("../images/leftvergul.svg");
  background-repeat: no-repeat;
  width: 142px;
  height: 128px;
  background-position: center;
  position: absolute;
  left: -140px;
  top: -80px;
}

.quotes__block::after {
  content: "";
  background-image: url("../images/rightvergul.svg");
  background-repeat: no-repeat;
  width: 142px;
  height: 128px;
  background-position: center;
  position: absolute;
  right: -140px;
  top: -5px;
}

.quotes__text {
  margin-top: 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #333333;

}



.services__title {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
  color: #333333;

}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1223px;
  overflow: hidden;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

.card-list::before {
  content: "";
  background-image: url(../images/lefticon.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 14px;
  height: 25px;
  margin-left: -35px;
  position: absolute;
}

.card-list::after {
  content: "";
  background-image: url(../images/righticon.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 14px;
  height: 25px;
  right: 30px;
  position: absolute;
}

input {
  background: #fff;
  /* border-radius: 5px; */
}

input:focus {
  background: #FFFFFF;
  /* border: 2px solid #FFBD54; */
  /* border-radius: 5px; */
}

input:invalid {
  background: #FFFFFF;
  /* border: 2px solid #DC4D41; */
  /* border-radius: 5px; */
}

.card-list__text:hover {
  color: #333333;
}

.card-list__text:active {
  opacity: 0.6;
  color: #333333;
}

.card-list__item {
  margin: 0 13px 0 0;
  width: 193px;
  height: 201px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 30px 34px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
}

.services {
  padding: 10px 0;
}

.card-list__images {
  margin: 0 auto;
}

.card-list__link::before {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.services-wrapper {
  width: 1223px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  padding: 41px 35px;
  /* justify-content: space-between; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.services-wrapper__card {
  margin-left: 67px;
}

.services-wrapper__titlee {
  width: 335px;
  font-weight: 500;
  font-size: 36px;
  line-height: 20px;
  color: #333333;
}

.services-wrapper__text {
  width: 492px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.services-wrapper__href {
  margin-top: 32px;
}

.services-wrapper__links {
  position: relative;
  margin-right: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  padding: 15px 36px 15px 63px;
  background-color: #FFBD54;
  border-radius: 3px;
  color: #fff;
}

.services-wrapper__links::before {
  content: "";
  background-image: url(../images/money.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 21px;
  height: 21px;
  left: 30px;
}

.services-wrapper__links:hover {
  background: #333333;
  border-radius: 3px;
  color: #FFBD54;

}

.services-wrapper__links:active {
  background: #333333;
  border-radius: 3px;
  color: #FFBD54;

}

.services-wrapper__link {
  position: relative;
  padding: 15px 37px 15px 64px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  background: #333333;
  border-radius: 3px;
  color: #FFFFFF;
}

.services-wrapper__link::after {
  content: "";
  background-image: url(../images/document.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 21px;
  height: 21px;
  left: 30px;
}

.services-wrapper__link:hover {
  background: #FFBD54;
  border-radius: 3px;
  color: #333333;

}

.services-wrapper__link:active {
  background: #FFBD54;
  border-radius: 3px;
  color: #333333;
  opacity: 0.6;

}

.email {
  margin-top: 235px;
  margin-bottom: 216px;
  background-image: url(../images/bgdog.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 308px;
  z-index: 1;
}

.card-list__item--active {
  margin-bottom: 0;
  border: none;
}

.email__wrapper {
  padding: 90px 0 88px 0;
  margin-left: 200px;
  position: relative;
}

.email__wrapper::after {
  content: "";
  background-image: url(../images/dog.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  /* background-size: 613px 481px; */
  width: 613px;
  height: 481px;
  top: -108px;
  right: -30px;
  z-index: 3;
}

.email__text {
  margin: 0 auto;
  padding-bottom: 32px;
  font-weight: 700;
  font-size: 48px;
  line-height: 20px;
  color: #fff;
}

.email__input {
  margin-right: 21px;
  padding: 18px 147px 12px 22px;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: none;
  outline: none;
}

.email__btn {
  padding: 12px 53px 12px 51px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  background-color: #333333;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
}

.email__btn:hover {
  background: #FFBD54;
  border-radius: 3px;
  color: #333333;
}

.email__btn:active {
  background: #FFBD54;
  border-radius: 3px;
  color: #333333;
  opacity: 0.6;
}

.useful__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 265px;

}

.useful__text {
  margin-bottom: 80px;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 20px;
  color: #333333;
}

.useful__item {
  background: #FEFEFE;
  border: 1px solid #E4E4E2;
  border-radius: 5px;
  width: 305px;
  height: 435px;
  list-style: none;
}

.useful__title {
  margin: 0;
  margin-left: 30px;
  margin-bottom: 10px;
  width: 182px;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  color: #000000;

}

.useful__left {
  margin-left: 200px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #949494;
}

.useful__texts {
  margin: 0;
  width: 244px;
  margin-left: 30px;
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.useful__link {
  margin-left: 54px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  position: relative;
}

.useful__link:hover {
  color: #FFBD54;
}

.useful__link:active {
  color: #333333;
}


.useful__link::before {
  left: -25px;
  content: "";
  background-image: url(../images/panja.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 23px;
  height: 20px;
  position: absolute;
}

.useful__item--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 640px;
}

.useful__wrappers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.useful__hrefs {
  display: block;
  margin-left: 20px;
  margin-right: 50px;
  padding-top: 40px;
}

.useful__href:hover {
  color: #3D9CEA;
}

.useful__span {
  padding-top: 40px;
}

.useful__titles {
  width: 193px;
  margin: 0;
  margin: 29px 0 15px 0;
  margin-left: 30px;
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;
  color: #333333;
}

.useful__texta {
  width: 270px;
  margin: 15px 34px 15px 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;

}

.useful__span {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #949494;

}

.iframes {
  margin-bottom: 247px;
}

.iframes__card {
  background-image: url(../images/fishing.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + -45px) calc(20% + 30px);
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.iframes__text {
  margin: 0;
  margin: 62px 0 14px 165px;
  width: 360px;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  color: #fff;
}

.iframes__title {
  margin-left: 165px;
  margin-bottom: 29px;
  width: 344px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.iframes__label {
  display: block;
  margin: 14px 0;
}

.iframes__textarea {
  width: 375px;
  height: 165px;
  outline: none;
  resize: none;
}

.iframes__block {
  margin-left: 165px;
}

.iframes__input:first-child {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
  width: 375px;
  height: 50px;
  padding: 16px 0px 13px 22px;
  outline: none;
}

.iframes__btn {
  width: 226px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  background-color: #FFBD54;
  border: none;
  cursor: pointer;
  color: #fff;

}

.iframes__btn:hover {
  background-color: #333333;
  color: #FFBD54;
  border-radius: 3px;
}

.iframes__btn:active {
  opacity: 0.6;
}

.site-footer {
  padding: 61px 0 23px 0;
  background-color: #f3f3f3;
}

.site-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: space-between; */
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-left: 0;
  list-style: none;
}

.site-footer__href {
  display: block;
}

.site-footer__img:hover {
  opacity: 0.8;
}

.site-footer__img:active {
  opacity: 0.6;
}


.site-footer__href:hover {
  color: #FFBD54;
}

.site-footer__href:active {
  color: rgba(51, 51, 51, 0.7);
}

.site-footer__link--active {
  margin: 0 121px 0 67px;
}

.site-footer__link--actives {
  margin-right: 157px;
}

.site-footer__links--time {
  margin-right: 137px;
  position: relative;
}

.site-footer__links--addres {
  margin-right: 46px;
  position: relative;
}

.site-footer__links--time::before {
  content: "";
  background-image: url(../images/time.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  left: -25px;
  top: 4px;
  position: absolute;
}

.site-footer__links--addres::before {
  content: "";
  background-image: url(../images/house.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  left: -25px;
  top: 4px;
  position: absolute;
}

.site-footer__links--tel {
  position: relative;
}

.site-footer__links--tel::before {
  content: "";
  background-image: url(../images/phone.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  left: -25px;
  top: 4px;
  position: absolute;
}

.site-footer__href--active {
  padding: 14px 0 14px 0;
}

.site-footer__example {
  font-weight: 400;
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #5C5C5C;
}

/* 
.card-list__link::before {
  content: "";
  width: 86px;
  height: 80px;
  background-image: url("../images/pervichniy.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
} */
/* site bottom start */


/* Services html start */

/* start hero section */

.hero {
  background-image: url(../images/bird.png);
  background-repeat: no-repeat;
  background-position: calc(50% + 450px) calc(0% + -30px);
  background-size: 435px 435px;
  padding: 118px 0 100px 0;
}

.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__card {
  margin-left: 100px;
}



.hero__title {
  margin: 0 auto;
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 70px;
  line-height: 64px;
  color: #333333;
}

.hero__text {
  margin: 0 auto;
  width: 447px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 158px;
}

.about__item {
  margin: 15px 8px;
  padding: 157px 22px 45px 53px;
  list-style: none;
  width: 305px;
  background-image: url(../images/petpanja.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 80px) calc(50% + -135px);
  background-color: #fff;
border-radius: 5px 5px 0px 0px;
}

.about__item:hover {
  -webkit-filter: drop-shadow(0px 4px 20px #00000033);
          filter: drop-shadow(0px 4px 20px #00000033);
}

.about__images {
  margin: 0 auto;
  padding: 58px 198px 21px 53px;
  position: relative;
}

.about__title {
  margin: 0 auto;
  width: 230px;
  font-weight: 600;
  font-size: 32px;
  line-height: 34px;
  color: #333333;
  position: relative;
}

.about__title::before {
  content: "";
  background-image: url(../images/pervichniy.svg);
  background-repeat: no-repeat;
  width: 54px;
  height: 77px;
  position: absolute;
  top:-110px;
  left:0;
}

.about__text {
  margin:14px 0 26px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.about__btn {
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #fff;
  width: 156px;
  height: 50px;
  background-color: #FFBD54;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.about__btn:hover {
  background-color: #000000;
  
}  

.about__item:nth-child(2) .about__title::before {
  content: "";
  background-image: url(../images/pervichniy2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 61px;
  height: 76px;
  position: absolute;
  top:-110px;
  left:0;
}

.about__item:nth-child(3) .about__title::before {
  content: "";
  background-image: url(../images/xirurg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 72px;
  height: 77px;
  position: absolute;
  top:-110px;
  left:0;
}


.about__item:nth-child(4) .about__title::before {
  content: "";
  background-image: url(../images/dermatolog.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  position: absolute;
  top:-110px;
  left:0;
}

.about__item:nth-child(5) .about__title::before {
  content: "";
  background-image: url(../images/labarant.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 78px;
  height: 78px;
  position: absolute;
  top:-110px;
  left:0;
}

.about__item:nth-child(6) .about__title::before {
  content: "";
  background-image: url(../images/oftal.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  position: absolute;
  top:-110px;
  left:0;
}

.about__item:nth-child(7) .about__title::before {
  content: "";
  background-image: url(../images/uzi.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 77px;
  height: 77px;
  position: absolute;
  top:-110px;
  left:0;
}

.about__item:nth-child(8) .about__title::before {
  content: "";
  background-image: url(../images/chipir.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 77px;
  position: absolute;
  top:-110px;
  left:0;
}

.about__item:nth-child(9) .about__title::before {
  content: "";
  background-image: url(../images/mejdunarod.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 86px;
  height: 78px;
  position: absolute;
  top:-110px;
  left:0;
}

.about__item:nth-child(10) .about__title::before {
  content: "";
  background-image: url(../images/vaksina.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 68px;
  height: 76px;
  position: absolute;
  top:-110px;
  left:0;
}

.about__item:nth-child(11) .about__title::before {
  content: "";
  background-image: url(../images/stomatolog.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 78px;
  height: 78px;
  position: absolute;
  top:-110px;
  left:0;
}

.about__item:nth-child(12) .about__title::before {
  content: "";
  background-image: url(../images/vizov.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 77px;
  height: 77px;
  position: absolute;
  top:-110px;
  left:0;
}


.about__btns {
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #fff;
  width: 156px;
  height: 50px;
  background-color: #78C0DE;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* end hero section */

.modal-show__right {
  display:block;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-show__right-text{
  /* margin: 0 auto; */
  display: block;
  margin-bottom: 21px;
  font-weight: 500;
  font-size: 21px;
  line-height: 30px;
  color: #333333;
}

.modal-show__right-link {
  position: relative;
  display: block;
  margin-bottom: 21px;
  padding: 14px 36px 14px 68px;
  background-color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  text-decoration: none;

}

.modal-show__right-link:nth-child(3)::before {
  position: absolute;
  top: 28%;
  left: 12%;
  background-image: url(../images/google.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 200px;
  content: "";
}

.modal-show__right-link:nth-child(3) {
  margin-top: 30px;
}

.modal-show__right-link:nth-child(4)::before {
  position: absolute;
  top: 28%;
  left: 12%;
  background-image: url(../images/facebook.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 20px;
  content: ""; 
}


.modal-show__box {
  margin:auto;
  margin-top: 0px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align:start;
      -ms-flex-align:start;
          align-items:flex-start;
  width: 850px;
  background-color: #FFBD54;
  padding: 100px 51px 137px 70px;
  background-image: url(../images/popup.png);
  background-size: contain;
  background-position: 0px calc(50% + 0px);
  background-repeat: no-repeat;
  -webkit-animation-name:slidedown;
          animation-name:slidedown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

@-webkit-keyframes slidedown {
  0% {
    -webkit-transform:scale(0) ;
            transform:scale(0) ;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes slidedown {
  0% {
    -webkit-transform:scale(0) ;
            transform:scale(0) ;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.feed-box-form {
  display: block;
}
.modal-show__btn {
  background-color: #000;
  padding: 14px 67px 15px 55px;
  color: #fff;
  border:none;
}

.modal-show__btn:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
}

.modal-show__title {
  margin: 0;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  color: #000;
}


.feed-box-input {
  width: 335px;
  margin: 12px 0 12px 0;
  padding: 15px 0 15px 21px;
  outline: none;
  border: none;
  resize:none;
}

.feed-box-input:focus {
  border:inset 1px solid #000000;
  border-radius: 5px;
}

.modal-show__close{
  position: absolute;
  top: -40%;
  left: -22%;
  /* display: inline-block; */
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modals{
  position: fixed;
  display:none;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.8);
}

.modal-show{
  display: block;
}

.modal-show__left-box{
  display: block;
}

/* Services html end */